<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 user_info">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h2><%= "Welcome #{current_user.name}!" %></h2>
            <%= image_tag current_user.avatar.url(:thumb) %>
          </div>
        </div>

    </div>

    <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-6 col-sm- col-md-6 user_upload">

      <p><%= render 'shared/new_document_form' %></p>

      <div class="row">
        <div class="col-md-12">
          <h3>Upload Restrictions</h3>
          <ul class="list-group">
            <li class="list-group-item">File must be in PDF format</li>
            <li class="list-group-item">File must not exceed 150MB</li>
            <li class="list-group-item">You must enter a title name</li>
            <li class="list-group-item">At this time only 1 file upload at a time</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-xs-3 col-sm-3 col-md-3">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
          <h3>Last 5 Uploads</h3>
          <% current_user.documents.last(5).reverse.each do |file| %>
              <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12 user-recent">
                  <li><p><%= link_to file.title, document_path(file.id) %></p></li>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>



    </div>




  </div>













