<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 user_info">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h2><%= "Welcome #{current_user.name}!" %></h2>
            <%= image_tag current_user.avatar.url(:thumb) %>
          </div>
        </div>

    </div>

    <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-6 col-sm- col-md-6 user_upload">

         <p><%= render 'shared/new_document_form' %></p>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
          <h3>Last 5 Uploads</h3>
          <% current_user.documents.last(5).reverse.each do |file| %>
              <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12 user-recent">
                  <li><p><%= link_to file.title, document_path(file.id) %></p></li>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>



    </div>




  </div>













