$('.fade_login').fadeOut("slow", function(){
    var signin = $( "<div class='fade_login'><%= j render 'shared/new_user_form' %></div>").hide();
    $(this).replaceWith(signin);
    $('.fade_login').fadeIn('slow');
});



