
  <%= form_for [@user,@document], url: documents_path, html: { multipart: true } do |f| %>
      <div class="form-group">
        <h1>Upload Your PDF!</h1>
      </div>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control', placeholder: 'Enter a title here...' %>
      </div>
      <div class="form-group">
        <%= f.file_field :pdf%>
      </div>

      <%= f.submit 'Upload!', class: 'new_doc_submit btn btn-default', remote: true%>

  <% end %>
