<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <h1>VoicePDF</h1>
        <p>The Voice Controlled Reader</p>
        <div class="row">
          <div class="col-md-6 try-out">
            <h3>Try it out!</h3>
            <p>Say 'Sign Up'!</p>
            <h3 class="hide_me">Awesome!</h3>
            <p class="hide_me">Enter your info to the right to sign up!</p>
            <p class="hide_me">You can say 'Create User' or just click the button!</p>
          </div>
          <div class="col-md-6">
            <div class="loginbox">
              <div class="fade_login">
                <%= render 'shared/login_form' %>
              </div>
              <div class="fade_signup">

              </div>
            </div>
          </div>
        </div>



      </div>

    </div>

  </div>

</div>




<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1>Voice Control</h1>
      <i class="fa fa-microphone fa-5x"></i>
      <p>
        With VoicePDF you can store and view all your PDF files in one place! With an easy to upload form,
        uploading your PDF files to view couldn't be any easier!
      </p>
    </div>

    <div class="col-md-4">
      <h1>Build Your Library!</h1>
      <i class="fa fa-book fa-5x"></i>
      <p>
        After uploading your PDF file, you'll be redirected to your library where you can choose which file you want to view!
      </p>
    </div>

    <div class="col-md-4">
      <h1>Learn The Commands!</h1>
      <i class="fa fa-info fa-5x"></i>
      <p>
        Its easy! There are but a few of commands needed to use this site!
      </p>
    </div>
  </div>


</div>
