<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <h1>VOCONR</h1>
        <p>THE VOICE CONTROLLED PDF READER</p>
        <div class="row">
          <div class="col-md-6 try-out">
            <h3>Try it out!</h3>
            <p>Say 'Sign Up'!</p>
            <h3 class="hide_me">Awesome!</h3>
            <p class="hide_me">Enter your info to the right to sign up!</p>
            <p class="hide_me">You can say 'Create User' or just click the button!</p>
          </div>
          <div class="col-md-6">
            <div class="loginbox">
              <div class="fade_login">
                <%= render 'shared/login_form' %>
              </div>
              <div class="fade_signup">

              </div>
            </div>
          </div>
        </div>



      </div>

    </div>

  </div>

</div>




<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1>Voice Control</h1>
      <i class="fa fa-microphone fa-5x"></i>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor placerat magna, non sagittis nibh dignissim nec. Cras facilisis feugiat malesuada. Nunc volutpat neque libero, vitae aliquam erat semper vel. Praesent sed sodales massa. Maecenas hendrerit tortor mauris, vitae gravida sem auctor in. Nunc mollis tincidunt rutrum. Vestibulum leo lorem, volutpat id orci in, sodales malesuada enim. Nunc commodo, lacus vitae dignissim feugiat, enim magna cursus lorem, id euismod lorem magna tincidunt quam. Vivamus non risus eu magna ultricies dignissim sit amet eget arcu. Curabitur in mattis erat. Donec sit amet nisl laoreet, vehicula enim in, venenatis orci. Suspendisse convallis nisi at lorem iaculis auctor. Cras nec odio viverra, rutrum lacus in, tristique enim.
      </p>
    </div>

    <div class="col-md-4">
      <h1>Create Your Own Library!</h1>
      <i class="fa fa-book fa-5x"></i>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor placerat magna, non sagittis nibh dignissim nec. Cras facilisis feugiat malesuada. Nunc volutpat neque libero, vitae aliquam erat semper vel. Praesent sed sodales massa. Maecenas hendrerit tortor mauris, vitae gravida sem auctor in. Nunc mollis tincidunt rutrum. Vestibulum leo lorem, volutpat id orci in, sodales malesuada enim. Nunc commodo, lacus vitae dignissim feugiat, enim magna cursus lorem, id euismod lorem magna tincidunt quam. Vivamus non risus eu magna ultricies dignissim sit amet eget arcu. Curabitur in mattis erat. Donec sit amet nisl laoreet, vehicula enim in, venenatis orci. Suspendisse convallis nisi at lorem iaculis auctor. Cras nec odio viverra, rutrum lacus in, tristique enim.
      </p>
    </div>

    <div class="col-md-4">
      <h1>Learn The Commands!</h1>
      <i class="fa fa-info fa-5x"></i>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor placerat magna, non sagittis nibh dignissim nec. Cras facilisis feugiat malesuada. Nunc volutpat neque libero, vitae aliquam erat semper vel. Praesent sed sodales massa. Maecenas hendrerit tortor mauris, vitae gravida sem auctor in. Nunc mollis tincidunt rutrum. Vestibulum leo lorem, volutpat id orci in, sodales malesuada enim. Nunc commodo, lacus vitae dignissim feugiat, enim magna cursus lorem, id euismod lorem magna tincidunt quam. Vivamus non risus eu magna ultricies dignissim sit amet eget arcu. Curabitur in mattis erat. Donec sit amet nisl laoreet, vehicula enim in, venenatis orci. Suspendisse convallis nisi at lorem iaculis auctor. Cras nec odio viverra, rutrum lacus in, tristique enim.
      </p>
    </div>
  </div>

</div>