
<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h1 class="welcome-h">VoicePDF</h1>
        <p class="welcome-p">The Voice Controlled Reader</p>
        <div class="row">
          <div class="col-md-6 try-out">
                <h3>Try it out!</h3>
                <p>Say 'Sign Up'!</p>
                <h3 class="hide_me">Awesome!</h3>
                <p class="hide_me">Enter your info to the right to sign up!</p>
                <p class="hide_me">You can say 'Create User' or just click the button!</p>
          </div>
          <div class="col-md-6">
            <div class="loginbox">
              <div class="fade_login">
                <%= render 'shared/login_form' %>
              </div>
              <div class="fade_signup">

              </div>
            </div>
          </div>
        </div>



      </div>

    </div>

  </div>
</div>




<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1>VoicePDF</h1>
      <i class="fa fa-microphone fa-5x"></i>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>
            With VoicePDF you can store and view all your PDF files in one place! With an easy to upload form,
            uploading your PDF files to view couldn't be any easier! Student? Why Carry around
            a huge book when you can get the pdf version and add it to your library. Business Personnel? Upload your next speech
            or presentation, and have it safely stored and easy to access. VoicePDF is an easy to use site for everyone!
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h1>Build Your Library</h1>
      <i class="fa fa-book fa-5x"></i>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>
            After uploading your PDF file, you'll be redirected to your library where you can choose which file you want to view!
            Store all your PDFs in easy to use environment. Store comic books, tutorial books, cook books, presentations, you name it!
            Keep it all in one place.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h1>Learn The Commands</h1>
      <i class="fa fa-info fa-5x"></i>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>
            Its easy! There are but a few of commands needed to use the voice aspect of this site.
            Its also completely optional! <br/> You can simply deny access to your microphone and still use the many features of the site!
          </p>
        </div>
      </div>

    </div>
  </div>


</div>
