<div class="pdf_viewer">


  <nav>



  </nav>

  <div class="viewer" style="height: 800px">

  </div>

  <script type="text/javascript">
      var viewer = Crocodoc.createViewer('.viewer', {
          url: '<%= current_document.pdf_session%>',
          layout: Crocodoc.LAYOUT_HORIZONTAL
      });
      viewer.load();
  </script>
</div>
