.viewer{
  height: 700px;
}
html, body{height: 100%;}
.doc_show {
  height: 100%
}

.viewsize {
  height: 100%;
}

.viewer_row {
  height: 100%;
}



//.crocodoc-page {
//  /* 40px spacing around all sides of every page */
//  padding: 40px;
//}
//.crocodoc-page {
//  /* 40px spacing around the left and right sides of every page */
//  padding: 0 40px;
//}

/* the following can be used in a layout with pages that are side-by-side to remove spacing in the middle (e.g., custom layout 'vertical-two-page') */
.crocodoc-page {
  padding: 20px;
}
.crocodoc-page:nth-child(even) {
  padding-left: 0;
}
.crocodoc-page:nth-child(odd) {
  padding-right: 0;
}

/* add a box-shadow to pages */
.crocodoc-page-content {
  box-shadow: 1px 1px 2px #000;
}

/* change the background color of pages */
.crocodoc-page-content {
  background-color: white;
}


