@import "font-awesome-sprockets";
@import "font-awesome";

.jumbotron {
  margin-top: -20px;
//  background-image:image_url("bg.jpeg");
//  background-size: cover;
}

.user-library {
  li{
    list-style-type: none;
  }
}

.user-recent {

  li {
    list-style-type: none;
  }
}

